* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	overflow-y: hidden;
	color: #878787;
	font-family: 'Poppins', sans-serif;
	background-color: #212121;
	height: 100vh;
}

.clearfix:after {
	content: "";
    clear: both;
    display: block;
    width: 0;
    height: 0;
}







#container {
	padding: 0 15px;
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#title {
	margin-bottom: 30px;
}

#title h1 {
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	font-weight: normal;
}

#title p {
	text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	text-transform: capitalize;
	color: #fff;
	margin-bottom: 10px;
	line-height: 21px;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
}

.form-group #forgot {
	display: block;
	text-transform: capitalize;
	font-size: 12px;
	color: #4e9de6;
	margin-bottom: 10px;
	float: right;
	text-decoration: none;
	line-height: 21px;
}

.form-group input[type=text], .form-group input[type=password] {
	border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    height: 42px;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

.form-group input[type=text]::-webkit-input-placeholder,
.form-group input[type=password]::-webkit-input-placeholder {
  	color: #8e8e8e;
}

.form-group input[type=text]::-moz-placeholder,
.form-group input[type=password]::-moz-placeholder {
  	color: #8e8e8e;
}

.form-group input[type=text]:-ms-input-placeholder,
.form-group input[type=password]:-ms-input-placeholder {
  	color: #8e8e8e;
}

.form-group input[type=text]:-moz-placeholder,
.form-group input[type=password]:-moz-placeholder {
  	color: #8e8e8e;
}

.form-group input[type=text]:placeholder,
.form-group input[type=password]:placeholder {
  	color: #8e8e8e;
}

.form-group input:focus {
	border-color: rgba(255, 255, 255, 0.3);
    outline: 0 none;
}

.checkbox {
	padding: 5px;
    min-height: 27px;
    position: relative;
}

.checkbox input[type=checkbox] {
	opacity: 0;
}

.checkbox label:before {
	content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(255, 255, 255, 0.12);
    background-color: transparent;
    text-align: center;
    line-height: 17px;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.checkbox input[type=checkbox]:checked + label:before {
    content: "\2714";
    color: #fff;
    font-size: 12px;
    position: absolute;
    vertical-align: -50%;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.checkbox label {
	padding-left: 5px;
	min-height: 20px;
	font-weight: normal;
	cursor: pointer;
	text-transform: none;
	color: #878787;
	margin-bottom: 0;
	font-size: 14px;
}

.checkbox label a {
	text-decoration: none;
	color: #4e9de6;
}

.button {
	text-align: center;
}

.button input[type=button] {
	background-color: #2ecd99;
    border: solid 1px #2ecd99;
	border-radius: 60px;
	color: #fff;
    padding: 10px 25px;
    text-transform: capitalize;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

.button input[type=button]:hover {
	background: rgba(46, 205, 153, 0.85);
    border: solid 1px rgba(46, 205, 153, 0.1)
}




.center {
	text-align: center;
}

#logo2 {
	margin-bottom: 30px;
}

#logo2 a {
	text-decoration: none;
}

#logo2 img {
	position: relative;
	top: 2px;
	margin-right: 10px;
}

#logo2 span {
	color: #fff;
    display: inline-block;
    font-family: "Poppins",sans-serif;
    font-size: 21px;
    text-transform: capitalize;
}

.form-group img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.form-group h2 {
	color: #fff;
	margin-top: 10px;
	font-size: 30px;
	line-height: 40px;
	font-weight: normal;
}

.form-group h3 {
	color: #fff;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 40px;
	font-weight: normal;
}

#switch {
	display: block;
	font-size: 14px;
	color: #4e9de6;
	text-decoration: none;
	text-align: center;
}

.margin {
	margin-bottom: 30px;
}






#back {
	position: absolute;
	top: 15px;
	left: 18px;
	text-decoration: none;
}

#back i {
	font-size: 20px;
	color: #2ecd99;
}

#back p {
	text-transform: capitalize;
	color: #fff;
	font-size: 14px;
	display: inline-block;
	position: relative;
	bottom: 2px;
	margin-left: 5px;
}






@media screen and (min-width: 460px) {
	#container {
		width: 400px;
	}
}

@media screen and (min-width: 570px) {
	#sign-up span {
		display: inline-block;
	}
}

@media screen and (min-width: 1100px) {
	#back i {
		color: #fff;
		transition: all 0.3s ease;
	}

	#back:hover i {
		color: #2ecd99;
	}
}